@import "tailwindcss";


@theme {
  
  --color-azul: #1F9E99;
  --color-rosa: #DC4061;
  --color-amarillo: #FBB519;
  --color-lime: #9BB22F;
  --color-aranjado: #EC6D23;

  --color-bg: #FCF2DE;
}

@utility hover-rosa {
  cursor: pointer;
  color: var(--color-rosa);
  transition: 300ms;
}

@keyframes carrousel {
  from {translate: 0;}
  to {translate: -100%;}
}

:root {
  background-color: var(--color-bg);
  font-family: "Bebas Neue", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-title span {
  display: inline-block;

  -webkit-mask-image: url("./assets/grunge-text-mask-punchout.png");
  mask-image: url("./assets/grunge-text-mask-punchout.png");

  -webkit-mask-size: 450px;
  mask-size: 450px;

  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
}

.hero-title .rosa {
  color: var(--color-rosa);
}

.hero-title .aranjado {
  color: var(--color-aranjado);
}

.hero-title .azul {
  color: var(--color-azul);
}